body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 20px; /* Aumentei o padding para melhorar a visibilidade */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    margin: 0 15px; /* Reduzi a margem para melhor espaçamento */
    padding: 15px 10px; /* Adicionei padding para melhorar o clique/tap */
}

nav a:hover {
    color: #ff6f00;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.logo {
    max-width: 140px;
    height: auto;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        display: none;
        text-align: center;
        margin-left: 0;
    }

    nav.show {
        display: flex;
    }

    nav a {
        padding: 10px;
        text-align: center;
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .logo {
        max-width: 100%;
        margin: 10px auto;
    }
}

section {
    max-width: 800px;
    margin: 50px auto 20px; /* Reduzi a margem superior para melhor proporção */
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.barber-card {
    background-color: rgb(12, 12, 12);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajustei a intensidade da sombra */
    margin-bottom: 20px;
}

.barber-card img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(12, 12, 12);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Ajustei a intensidade da sombra */
}

.w3-btn {
    background-color: #ff6f00;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block; /* Para garantir o alinhamento correto em todos os casos */
}

.w3-btn:hover {
    background-color: #e64a19;
}

/* Adicione estas classes ao seu CSS */

#appointment-form {
    max-width: 600px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 15px;
    font-size: 16px;
}

form select,
form input[type="date"],
form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #ff6f00;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #e64a19;
}
